#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.menu-container {

  width: 440px;
  height: 80px;
  position: fixed;
  bottom: 0;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #000;

}

.cancel-button {
  position: absolute;
  top: 2%;
  right: 3%;
  z-index: -1;
  cursor: pointer;
  transition: .3s all ease-out;
}

.cancel-button:hover {
  transform: scale(1.1);
}

.performance-container {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('/assets/bg_1.jpg');
  background-size: cover;
  height: 100%;
  width: 100%;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #fff;
}

.performance-header {
  font-size: 1.5rem;
  margin-top: 8rem;
}

.performance-text {
  font-size: 1rem;
  margin-top: 30px;
  color: lightgray
}

.color-container {

  top: 0;
  transform: translate(-50%, -50%);
  z-index: -1;
  width: 440px;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-around;


}

.color-header {
  font-size: 1.4rem;
  z-index: -1;
  color: #000;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translateX(-50%);
}

.color-div {
  width: 40px;
  height: 40px;
  z-index: -1;
  margin: 15px 0;
  margin-bottom: 5rem;
  cursor: pointer;
  transition: .5s all ease-out;
}

.color-div-selected {
  transform: scale(1.1);
}

.color-img-icon {
  width: 100%;
  border-radius: 8px;
  animation: homeanim 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.color-white-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-523%, -50%);
  background-color: white;
  border-radius: 8px;
  width: 35px;
  height: 35px;
}

.color-icon-text {
  position: absolute;
  top: 50%;
  transform: translate(45%, -50%);
  font-size: 7.3px;
  font-weight: 700;
  color: rgb(80, 79, 79);
}

.display-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.cam-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  /* border: 1px solid black; */
  background-color: #fff;
}

.camera-header{
  /* border: 1px solid black; */
  height: 40%;
  transform: translate(-80%, 50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.icon-cam{
  width: 100%;
  height: 100%;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon-cam-img{
  width: 50%;
  height: 50%;
  /* border: 1px solid blue; */
}

.display-header {
  font-size: 1.2rem;
  margin-top: 6rem;
  color: #fff;
}

.display-img {
  width: 80%;
  object-fit: contain;
  margin-top: 3rem
}

.camera-img-icon,
.ecran-img-icon,
.performance-img-icon {
  margin-top: 7px;
  width: 55%;
}

.camera-icon-text {
  position: absolute;
  top: 50%;
  transform: translate(18%, 50%);
  font-size: 9px;
  font-weight: 700;
  color: white;
}


.ecran-icon-text {
  position: absolute;
  top: 50%;
  transform: translate(45%, 50%);
  font-size: 9px;
  font-weight: 700;
  color: white;
}

.performance-icon-text {
  position: absolute;
  top: 50%;
  transform: translate(-7%, 50%);
  font-size: 9px;
  font-weight: 700;
  color: white;
}

.icon-container {
  cursor: pointer;
  width: 45px;
  height: 45px;
  /* border: 1px solid white; */
}

@keyframes homeanim {
  0% {
    filter: hue-rotate(0deg);
  }

  100% {
    filter: hue-rotate(360deg);
  }
}