#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.color-img-icon{
  width : 100%;
  border-radius: 8px;
  animation: homeanim 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.color-white-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-523%, -50%);
  background-color: white;
  border-radius: 8px;
  width: 35px;
  height: 35px;
}

.color-icon-text {
  position: absolute;
  top: 50%;
  transform: translate(45%, -50%);
  font-size: 7.3px;
  font-weight: 700;
  color: rgb(80, 79, 79);
}

.camera-img-icon,
.ecran-img-icon,
.performance-img-icon{
  margin-top: 7px;
  width : 55%;
}

.camera-icon-text {
  position: absolute;
  top: 50%;
  transform: translate(18%, 50%);
  font-size: 9px;
  font-weight: 700;
  color: white;
}


.ecran-icon-text {
  position: absolute;
  top: 50%;
  transform: translate(45%, 50%);
  font-size: 9px;
  font-weight: 700;
  color: white;
}

.performance-icon-text {
  position: absolute;
  top: 50%;
  transform: translate(-7%, 50%);
  font-size: 9px;
  font-weight: 700;
  color: white;
}

.icon-container{
 cursor: pointer;
 width: 45px;
  height: 45px;
  /* border: 1px solid white; */
}

@keyframes homeanim {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}